<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/admin/css/common.css}" />
    <link rel="stylesheet" th:href="@{/admin/css/event.css}" />
    <title>이벤트 관리</title>
</head>
<body>
<!-- 공통 네비게이션 바 호출 -->
    <div th:insert="admin/fragments/navbar :: navbar"></div>

    <main class="content">
        <h1>이벤트 관리</h1>
        <div class="box">
            <div class="detail-box event-list-section">
                <div class="event-table-wrapper">
                    <h3 class="section-title-center">이벤트 내역</h3>
                    <table border="1" cellpadding="10">
                        <thead>
                            <tr>
                                <th class="col-id">ID</th>
                                <th class="col-title">제목</th>
                                <th class="col-date">시작일</th>
                                <th class="col-date">종료일</th>
                                <th class="col-action">상세보기</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="event : ${eventList}">
                                <td th:text="${event.announcementId}">ID</td>
                                <td th:text="${event.title}">제목</td>
                                <td th:text="${event.startDate}">시작일</td>
                                <td th:text="${event.endDate}">종료일</td>
                                <td>
                                    <button onclick="moveEventDetail(this)">보기</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <!-- dim과 팝업 박스 -->
    <div id="modalDim" class="modalDim hidden-modal"></div>
    <div id="popupContainer" class="popupContainer hidden-modal">
        <div class="popupContent">
            <button class="popup-close-btn" onclick="closePopup()">닫기</button>
            <div id="popupDetails">여기에 상세 내용이 들어갑니다.</div>
        </div>
    </div>

    <script th:src="@{/admin/js/common.js}"></script>
    <script th:src="@{/admin/js/event.js}"></script>
</body>
</html>
