<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/admin/css/common.css}" />
    <link rel="stylesheet" th:href="@{/admin/css/update-announcement.css}" />
    <title>공지 수정</title>
</head>
<body>
    <div th:insert="admin/fragments/navbar :: navbar"></div>
    <main class="content">
        <h1>공지 수정</h1>
        <div class="box">
            <div class="form-section update-form-section">
                <form id="announcementForm" class="update-form" onsubmit="return submitForm();">
                    <!-- 공지/이벤트 선택 -->
                    <div class="option-group">
                        <div class="form-group">
                            <label>공지 ID</label>
                            <input type="text" id="announcementId" th:value="${announcementDetail.announcementId}" readonly />
                        </div>
                        <label>공지 종류</label><br>
                        <label>
                            <input type="radio" checked />
                            <span id="type" th:text="${announcementDetail.announcementType == 'NOTICE'} ? '공지사항' : '이벤트'">공지사항</span>
                        </label>
                    </div>
                    <div class="option-group">
                        <label>노출 여부</label><br>
                        <label>
                            <input type="radio" name="display" value="Y" th:checked="${announcementDetail.display == 'Y'}" /> 노출
                        </label>
                        <label>
                            <input type="radio" name="display" value="N" th:checked="${announcementDetail.display == 'N'}" /> 미노출
                        </label>
                    </div>
                    <!-- 공통으로 보여줄 항목 -->
                    <div class="form-group">
                        <label>제목</label>
                        <input type="text" id="title" name="title" th:value="${announcementDetail.title}" required />
                    </div>
                    <div class="form-group">
                        <label>내용</label>
                        <textarea id="content" name="content" rows="5" th:text="${announcementDetail.content}" required></textarea>
                    </div>

                    <!-- 이벤트 전용 항목들 (처음에는 숨김) -->
                    <div class="form-group event-group" th:hidden="${announcementDetail.announcementType == 'NOTICE'}" >
                        <label>시작일</label>
                        <input type="date" id="startDate" name="startDate" th:value="${announcementDetail.startDate}" />
                    </div>
                    <div class="form-group event-group" th:hidden="${announcementDetail.announcementType == 'NOTICE'}" >
                        <label>종료일</label>
                        <input type="date" id="endDate" name="endDate" th:value="${announcementDetail.endDate}" />
                    </div>
                    <div class="form-group">
                        <label>공지사항 · 이벤트 이미지 URL</label>
                        <input type="text" id="announcementImageUrl" name="announcementImageUrl" th:value="${announcementDetail.announcementImageUrl}" onblur="changeImage(this.value)" />

                        <!-- announcementImageUrl 값이 null 아니고 빈 문자열이 아닐 때만 img 태그 보여주기 -->
                        <div class="imgViewDiv" th:hidden="${announcementDetail.announcementImageUrl == null}">
                            <label class="preview-label">⬇️ 이미지 ⬇️</label>
                            <img
                                 th:src="${announcementDetail.announcementImageUrl}"
                                 class="announcementImage"
                                 alt="이벤트 이미지" />
                        </div>
                    </div>
                    <div class="form-group event-group" th:hidden="${announcementDetail.announcementType == 'NOTICE'}" >
                        <label>이벤트 참여 URL</label>
                        <input type="text" id="eventApplyUrl" name="eventApplyUrl" th:value="${announcementDetail.eventApplyUrl}" />
                    </div>
                    <button type="submit">수정</button>
                </form>
            </div>
        </div>
    </main>
    <script th:src="@{/admin/js/common.js}"></script>
    <script th:src="@{/admin/js/update-announcement.js}"></script>
</body>
</html>
