<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/admin/css/common.css}" />
    <title>버전 관리</title>
</head>
<body>
    <!-- 공통 네비게이션 바 호출 -->
    <div th:insert="admin/fragments/navbar :: navbar"></div>

    <main class="content">
        <h1>버전 관리</h1>
        <div class="box">
            <div class="form-section" style="overflow-x: auto;">
                <h3 style="text-align: center">최소 버전</h3>
                <div class="form-group">
                    <label>Android</label>
                    <label>
                        <input type="text" th:value="${version.Android}" readonly />
                    </label>
                </div>
                <div class="form-group">
                    <label>iOS</label>
                    <label>
                        <input type="text" th:value="${version.iOS}" readonly />
                    </label>
                </div>
                <hr style="margin: 30px 0;">
                <h3 style="text-align: center">최소 버전 변경</h3>
                <div class="form-group">
                    <label for="OS">OS</label>
                    <div style="margin-top: 5px">
                        <select name="OS" id="OS" style="background: #333; color: #D7FE63; width: 100%; border-radius: 4px;">
                            <option value="Android">Android</option>
                            <option value="iOS">iOS</option>
                        </select>
                    </div>
                    <label style="margin-top: 15px">변경 버전</label>
                    <label>
                        <input type="text" id="version" />
                    </label>
                </div>
                <button onclick="updateVersion()">수정</button>
            </div>
        </div>
    </main>

    <script>
        function updateVersion() {
            const os = document.getElementById('OS').value;
            const version = document.getElementById('version').value;

            if(version === "") {
                alert("버전 정보는 필수 입력 항목입니다.")
                return;
            }else if(/[^0-9.]/.test(version)) {
                // 버전 유효성 체크 ( 0 ~ 9 까지 숫자와 . 만 입력 가능 )
                alert("올바른 버전 정보가 아닙니다.\n입력한 버전 정보 : '" + version +"'")
                return;
            }

            data = {
                os : os,
                version : version
            }

            if (confirm('OS: ' + OS + '\nversion: ' + version + '\n' + "위 버전으로 변경하시겠습니까?")) {
                // 버전 변경
                fetch('/admin/updateVersion', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data)
                }).then(res => {
                    if(res.ok) {
                        alert('버전 수정 성공');
                        location.reload();
                    } else {
                        alert('에러 발생');
                        location.reload();
                    }
                });
            }
        }
    </script>
</body>
</html>