<nav th:fragment="navbar" class="navbar">
    <div class="container">
        <a th:href="@{/admin/home}" class="logo">Runcombi</a>
        <ul class="menu">
            <li><a th:href="@{/admin/announcement}">공지 관리</a></li>
            <li><a th:href="@{/admin/member}">회원 관리</a></li>
            <li><a th:href="@{/admin/event}">이벤트 관리</a></li>
            <li><a th:href="@{/admin/version}">버전 관리</a></li>
            <li><a th:href="@{/admin/statistics}">사용통계</a></li>
            <li><a th:href="@{/admin/swagger-ui.html}">API 명세서</a></li>
            <!-- 탭 추가 가능 -->
        </ul>
    </div>
</nav>
